.clearfix { 
	display: inline-block; 
	&:after{
		visibility: hidden;
  		display: block;
  		font-size: 0;
  		content: " ";
  		clear: both;
  		height: 0;
	}
}

.nav-panel {
    background: url("../images/app-bg.png") repeat scroll 0 0 #ffffff;
    border: 1px solid #cccccc;
    min-height: 220px;
    padding: 5px;
    display: flex;
  	flex-direction: column;
}

#nav-container{
	padding-left: 0;
	li, li ul {list-style-type: none;}

	.nav-item {
		float: left; 
		border: 2px solid #ccc;
		list-style-type: none;
		margin: 3px;
		min-height: 190px;
		min-width: 230px;
		padding: 5px;
		background-color: #FFFFFF;
		&.inactive {
			background-color: #dddddd;

			.sub-nav-item {
				background-color: #dddddd;
			}
		}
	}
	.heading {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 130px;
	}
	.controls{float: right;}

	.nav-inner {
		padding-left:0;

		.sub-nav-item{
			float:left;
			background-color: #FFFFFF;
			width:100%;
			
			&.inactive {
				background-color: #dddddd;
			}
		}

		.heading {
			padding-left : 10px;
			width: 110px;
		}
	}

}

.form-group{
	.required:after{
		content : " *";
		color: red;
	}
}