.clearfix { 
	display: inline-block; 
	&:after{
		visibility: hidden;
  		display: block;
  		font-size: 0;
  		content: " ";
  		clear: both;
  		height: 0;
	}
}

.nav-scrollable {
    background: url("../images/app-bg.png") repeat scroll 0 0 #ffffff;
    border: 1px solid #cccccc;
    min-height: 220px;
    padding: 5px;
}

#nav-container{
	padding-left: 0;
	li, li ul {list-style-type: none;}

	.nav-item {
		float: left; 
		border: 2px solid #ccc;
		list-style-type: none;
		margin: 3px;
		min-height: 190px;
		min-width: 220px;
		padding: 5px;
		background-color: #FFFFFF;
		&.inactive {
			background-color: #eeeeee;border: 1px solid #999;
		}
	}
	.heading {
		float: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 140px;
	}
	.controls{float: right;}

	.nav-inner {
		padding-left:0;
		width: 100%;

		.sub-nav-item{
			float: left; 
			width: 215px;
			background-color: #FFFFFF;
			
			&.inactive {
				background-color: #eeeeee;border: 1px solid #999;
			}
		}

		.heading {
			padding-left : 10px;
		}
	}
}

